body {
    background-color: #2b2a33;
    color: #e0e0e0;
    font-family: "MedievalSharp", serif;
}

.game-area {
    height: 100vh;
    display: flex;
    gap: 5px;
    padding: 20px;
    background-size: cover;
}

.game-info {
    position: relative;
    flex-shrink: 0;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    color: #e0e0e0;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.game-action {
    position: relative;
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat(7, 13.4%);
    gap: 8px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.accept-game-form {
    background: rgba(43, 42, 51, 0.9);
    color: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.accept-game-form button {
    background-color: #4a403a;
    color: #e0e0e0;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.accept-game-form button:hover {
    background-color: #876445;
}

.end-round {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.end-round button {
    background-color: #5d524b;
    color: #e0e0e0;
    padding: 8px 20px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.end-round button:hover {
    background-color: #a37d6e;
}

.opponent-accepted, .opponent-selected-deck {
    font-weight: bold;
    color: #d4c19b;
}

.last-played-card-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.last-played-card {
    animation: card-fade-in 1s ease, card-move-out 2s 1s ease;
    position: relative;
}

.last-played-card img {
    width: 150px;
    height: auto;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* Fade-in animation */
@keyframes card-fade-in {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Move-out animation */
@keyframes card-move-out {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.last-played-card-content {
    text-align: center;
    color: white;
}

.last-played-card-content h3 {
    margin: 0;
    font-size: 1.5rem;
}

.last-played-card-content p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ffcc00;
}

.weather-cards {
    flex-shrink: 0;
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.weather-card-wrapper {
    position: relative;
    perspective: 1000px;
    display: inline-block;
}

.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}


.weather-card-image {
    width: 100%;
    height: auto;
    transition: transform 0.1s ease-out;
    transform-style: preserve-3d;
}

.weather-card-info {
    margin-top: 10px;
    text-align: center;
}

.weather-card-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.weather-card-description {
    font-size: 1rem;
    color: #555;
}


.weather-card-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}