@using Gwint.Lib
<div class="select-deck-form">
    <select @bind="_selectedDeck" class="deck-selection">
        @foreach (var deck in DeckTypes)
        {
            <option value="@deck">@deck</option>
        }
    </select>
    <button @onclick="SubmitDeck">Submit</button>
</div>

@code {
    [Parameter] public IEnumerable<DeckType> DeckTypes { get; set; } = Array.Empty<DeckType>();
    [Parameter] public EventCallback<DeckType> OnDeckSelected { get; set; }

    private DeckType _selectedDeck;

    private async Task SubmitDeck()
    {
        if (OnDeckSelected.HasDelegate)
        {
            await OnDeckSelected.InvokeAsync(_selectedDeck);
        }
    }
}