.select-deck-form {
    background: rgba(43, 42, 51, 0.9);
    color: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.select-deck-form button {
    background-color: #4a403a;
    color: #e0e0e0;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.select-deck-form button:hover {
    background-color: #876445;
}