.player-info {
    position: relative;
    background: #3b3a47;
    padding: 10px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
}

.player-avatar {
    background: url('./king_player.png') center center/cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #876445;
}

.player-avatar.opponent-avatar {
    background: url('./king_opponent.png') center center/cover;
}

.player-details {
    flex-grow: 1;
    color: #d4c19b;
}

.details-top, .details-bottom {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    font-size: 0.9em;
}

.round-wins, .card-count {
    color: #f0e6d2;
}

.player-name, .deck-name {
    font-weight: bold;
}

.player-score {
    font-size: 1.2em;
    color: #e0e0e0;
    position: absolute;
    right: 5px;
    top: 10px;
}

.skipped-turn-label {
    color: #ff4444;
    font-weight: bold;
    margin-top: 5px;
}