@using Gwint.Lib
<div class="unit-row">
    @if (Cards is not null && Cards.Any())
    {
        foreach (var card in Cards)
        {
            <div class="unit-card-wrapper" @onclick="() => OnCardSelected.InvokeAsync(card.Id)">
                <div class="unit-card">
                    <img src="@card.ImageUrl" alt="@card.Name" />
                </div>
            </div>
        }
    }
</div>

@code {
    [Parameter] public IEnumerable<Card>? Cards { get; set; } = [];
    [Parameter] public EventCallback<string> OnCardSelected { get; set; }
}