.weather-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.weather-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    transition: all 0.3s ease;
}

    .weather-card:nth-child(n+2) {
        z-index: calc(100 - var(--index));
    }
